Source: rp-pppoe
Maintainer: Christian Hudon <chrish@debian.org>
Standards-Version: 3.1.1.0
Section: net
Priority: optional
Source-Depends: autoconf

Package: pppoe
Architecture: any
Depends: ${shlibs:Depends}, ppp (>= 2.3.10-1)
Description: PPP over Ethernet driver
 PPP over Ethernet (PPPoE) is a protocol used by
 many ADSL Internet service providers. This package allows
 you to connect to those PPPoE service providers.
